{% extends 'base.html' %}

{% load news_tags %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
            <div class="news_detail">
                <div class="share-buttons" title="Поделиться">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                        <i class="fa fa-facebook"></i> Facebook
                    </a>
                    <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}" target="_blank">
                        <i class="fa fa-telegram"></i> Telegram
                    </a>
                    <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
                        <i class="fa fa-instagram"></i> Instagram
                    </a>
                </div>
                <h2>{{ news.title }}</h2>
                <h4>{{ news.time_create|date:"d F, Y" }}</h4>
                {{ news.content|safe }}
            </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
    <hr>
    <h2>Последние новости:</h2>
    <div class="row">
        {% get_latest_news as latest_news %}

        {% for news in latest_news %}
            <div class="col-md-6 col-lg-3">
                <div class="latest-news">
                    <a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="{{ news.title }}"></a> 
                    <div class="latest-news-title">{{ news.title }}</div>
                    <div class="latest-news-date">
                        <h4>{{ news.time_create|date:"d F, Y" }}</h4>
                        <a href="{{ news.get_absolute_url }}">Подробнее...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}